.download {
    .browser {
        margin-top: 35px;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .download_text {
        margin-top: 80px;

        h3 {
            font-size: 28px;
            font-weight: 400;
            font-style: italic;
            color: $color-gray-letters;

        }

        .redline {
            margin: 25px 0;
        }

        p {
            line-height: 1.8;
            font-size: 14px;
            margin-right: 40px;
            color: $color-gray-letters;
        }

        button {
            @include button-style;
            margin-top: 25px;
            background-color: $color-main;
            color: $color-letters;

            &:hover {
                background-color: $color-letters;
                color: $color-main;
                border: 1px solid $color-main;
            }
        }
    }

















}