header {
    background-image: url("../images/woman.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;

    ul {
        display: flex;
        justify-content: flex-end;
        margin-right: 70px;

        li {
            padding: 5px 5px;
            list-style: none;

            a {
                display: block;
                text-decoration: none;
                font-size: 16px;
                font-weight: 700;
                color: $color-letters;
                letter-spacing: 0.4px;
                padding: 0 10px;
                transition: .5s;

                &:hover {
                    color: $color-main;
                }
            }
        }
    }

}

.mache {
    color: $color-letters;
    font-size: 25px;
    padding-left: 110px;

    span {
        color: $color-main;
        padding-right: 6px;

    }
}

.slogan {
    text-align: center;
    color: $color-letters;
    margin-top: 30vh;

    h1 {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 40px;
        margin-left: 10px;

        span {
            color: $color-letters;
            font-weight: 700;
            padding-right: 15px;
        }
    }

    .redline {
        @extend .redline;
        margin: 20px auto;
    }

    p {
        font-size: 18px;
        font-weight: 300;
    }

    button {
        @include button-style;
        margin-top: 15vh;
        border: none;
        background-color: $color-main;
        color: $color-letters;
        transition: .4s;

        &:hover {
            background-color: $color-letters;
            color: $color-main;

        }
    }
}


/*media Queries*/

@media(max-width: 1366px) {
    header {
        ul {
            li {
                a {
                    font-size: 18px;
                }
            }
        }

    }

    .slogan {

        h1 {
            font-size: 45px;
        }

        p {
            font-size: 20px;
        }
    }
}

@media (max-width: 1024px) {
    // NOWY KOD CSS
}

@media (max-width: 768px) and (orientation:landscape) {
    header {

        ul {
            justify-content: center;
        }
    }

    .slogan {
        margin-top: 6vh;

        p {
            font-size: 16px;
        }

        button {
            margin-top: 32px;
        }
    }

}

@media (max-width: 768px) and (orientation:portrait) {
    header {
        ul {
            justify-content: center;
            margin: 0 auto;

            li {

                a {
                    font-size: 16px;
                }
            }
        }

    }

    .mache {
        font-size: 28px;

    }

    .slogan {
        margin-top: 16vh;

        h1 {

            font-size: 44px;
            margin-left: 0;

        }

        p {
            font-size: 22px;
            padding: 0 10px;
        }
    }
}


@media (max-width: 414px) and (orientation:portrait) {

    header {

        ul {
            flex-direction: column;
            align-items: center;
            margin: 0 auto;

        }

    }

    .mache {
        padding-left: 120px;
    }

    .slogan {
        margin-top: 2vh;

        h1 {
            font-size: 35px;
            margin-left: 0;

        }

        p {
            font-size: 12px;
        }

        button {
            margin-top: 4vh;
        }
    }

}

@media (max-width: 414px) and (orientation:landscape) {
    header {

        ul {
            justify-content: center;
            margin: 0 auto;
            margin-top: -28px;

            li {
                a {
                    font-size: 13px;
                }
            }
        }

    }

    .mache {
        font-size: 15px;
        padding-left: 140px;
    }

    .slogan {
        margin-top: -10px;

        h1 {
            font-size: 25px;

            span {
                color: $color-letters;
                font-weight: 700;
                padding-right: 15px;
            }
        }

        p {
            font-size: 10px;
            padding: 0 2px;
        }

        button {
            margin-top: 5px;
        }
    }

}