.laptop {
    height: 460px;
    background-color: $color-gray-background;
    position: relative;
    z-index: -2;

    .laptop_title {

        h1 {
            font-weight: 300;
            font-size: 22px;
            letter-spacing: 1px;
            padding-left: 190px;
            margin-top: 135px;
            color: $color-gray-letters;
        }

        .redline {
            @extend .redline;
            margin-left: 190px;
            margin-top: 25px;
        }
    }

    p {
        font-size: 11px;
        font-weight: 300;
        padding-top: 25px;
        margin-left: 190px;
        line-height: 2;
        color: $color-gray-letters;
    }

    .arrow {
        position: relative;
        color: $color-main;
        text-transform: uppercase;
        font-size: 6px;
        margin-left: 190px;
        padding-top: 18px;

        h2 {
            float: left;
            padding-right: 8px;
            font-weight: 400;
            letter-spacing: 0.5px;
        }

        img {
            position: absolute;
            max-width: 100%;
            height: auto;
            top: 18px;
            left: 90px;
        }

        .circle {
            position: absolute;
            width: 28px;
            height: 28px;
            @include border-radius(50%);
            border: 1px solid $color-main;
            margin-left: 140px;
            top: 10px;
            left: -61px;
        }
    }

    .macbook {
        figure {
            position: relative;

            img:nth-child(1) {
                position: absolute;
                max-width: 100%;
                height: auto;
                top: 140px;
                left: 10px;

            }

            img:nth-child(2) {
                position: absolute;
                top: 175px;
                left: 84px;
                max-width: 100%;
                height: auto;
                width: 74%;
                z-index: 1;

            }
        }
    }
}


/*media Queries*/

@media(max-width: 1366px) {}

@media (max-width: 1024px) {
    .laptop {
        height: 420px;

        .laptop_title {
            h1 {
                font-size: 18px;
            }
        }

        p {
            font-size: 9px;
        }

        .macbook {
            figure {

                img:nth-child(2) {
                    top: 160px;
                    left: 71px;
                }
            }
        }
    }
}

@media (max-width: 768px) and (orientation:landscape) {

    .laptop {
        height: 320px;

        .laptop_title {
            h1 {
                font-size: 20px;
                margin-top: 70px;
            }
        }

        p {
            font-size: 10px;
        }

        .macbook {
            figure {
                img:nth-child(1) {
                    position: static;
                }

                img:nth-child(2) {
                    top: 36px;
                    left: 92px;
                }
            }
        }
    }
}

@media (max-width: 768px) and (orientation:portrait) {
    .laptop {
        height: 80vh;

        .laptop_title {

            h1 {
                font-size: 25px;
                margin-top: 60px;
            }
        }

        p {
            font-size: 12px;
        }

        .macbook {
            figure {
                img:nth-child(1) {
                    position: static;
                }

                img:nth-child(2) {
                    top: 20px;
                    left: 49px;

                }
            }
        }
    }
}

@media (max-width: 414px) and (orientation:portrait) {
    .laptop {
        height: 95vh;

        .macbook {
            figure {

                img:nth-child(1) {
                    position: static;
                }

                img:nth-child(2) {
                    top: 18px;
                    left: 49px;
                }
            }
        }
    }
}

@media (max-width: 414px) and (orientation:landscape) {
    .laptop {
        height: 143vh;

        .macbook {
            figure {

                img:nth-child(2) {
                    left: 49px;
                }
            }
        }
    }
}