.prices {
    background-color: $color-gray-background;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 60px;

    h1 {
        font-weight: 400;
        font-style: italic;
        font-size: 32px;
        color: $color-gray-letters;
    }

    .redline {
        margin: 40px auto;
    }

    .describe_prices {
        width: 60%;
        margin: 0 auto;
        padding-bottom: 40px;
        line-height: 1.7;
        letter-spacing: 1px;
        color: $color-gray-letters;
    }

    .price_box {
        background-color: $color-letters;
        padding-bottom: 40px;

        .top_box {
            background-color: $color-strong-gray;
            color: $color-letters;
            position: relative;
            cursor: pointer;
            transition: .6s;

            h2 {
                padding-top: 18px;
                font-size: 4rem;
                font-weight: 500;

                span {
                    font-size: 25px;
                    padding-right: 5px;
                }
            }

            h3 {
                font-weight: 400;
                padding-bottom: 45px;
                font-size: 14px;
            }

            .version {
                width: 200px;
                height: 52px;
                background-color: $color-gray-background;
                color: $color-strong-gray;
                border-radius: 30px;
                position: absolute;
                transform: translateX(-50%);
                left: 50%;
                top: 85%;

                .name_version {
                    position: absolute;
                    transform: translate(-50%, -50%);
                    left: 50%;
                    top: 50%;
                    font-weight: 600;
                    text-transform: uppercase;
                }
            }

            +p {
                margin-top: 60px;
                color: $color-gray-letters;
            }

            ~p {
                padding: 14px 0;
                color: $color-gray-letters;

            }

            &:hover {
                background-color: $color-main;
            }
        }

        button {
            @include button-style;
            background-color: $color-main;
            margin: 0 auto;
            margin-top: 22px;
            border: none;
            color: $color-letters;

            &:hover {
                background-color: $color-letters;
                color: $color-main;
                border: 1px solid $color-main;
            }

        }
    }
}