.template {
    background-image: url('../images/woman.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding-bottom: 120px;
    margin-top: 30px;

    h1 {
        font-weight: 300;
        font-size: 32px;
        color: $color-letters;
        padding-top: 100px;
        font-style: italic;
    }

    .redline {
        margin: 0 auto;
        margin-top: 40px;
    }

    p {
        width: 60%;
        margin: 35px auto;
        color: $color-letters;
        letter-spacing: 1px;
        line-height: 1.7;
        font-weight: 300;
    }

    button {
        @include button-style;
        margin-top: 25px;
        background-color: $color-main;
        color: $color-letters;

        &:hover {
            background-color: $color-letters;
            color: $color-main;
        }
    }
}