// variables
$color-main:rgb(237, 20, 91);
$color-letters:rgb(255, 255, 255);
$color-gray-background:rgb(244, 244, 244);
$color-gray-letters:rgb(131, 131, 131);
$color-strong-gray:rgb(90, 90, 90);
$color-background-footer:rgb(43, 43, 43);

// extend

.redline {
    background-color: $color-main;
    width: 194px;
    height: 2px;
}

// mixin

@mixin border-radius($radius) {
    border-radius: $radius;
}

@mixin button-style {
    @include border-radius(30px);
    width: 200px;
    height: 52px;
    font-size: 15px;
    line-height: 52px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    border: none;
    text-align: center;
    transition: .5s;
}